.product_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;
    padding: 20px;

    img{
        width: 100%;
    }
}

.product_row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
    padding: 20px;

    img{
        width: 100%;
    }
}


.active_btn{
    background-color: aqua;
}